<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>

    <div class="container">
        <div class="row mt-5">
             <div class="col-md-8 offset-md-2">
                 <h2 class="display-4">Profile</h2> 
                 <hr>        
                 <%- include('../partials/flashMessages.ejs') -%>
                 <p>
                     <% if (user) { %>
                        Welcome .. Your email <%= user.email %>
                     <% } %>   
                 </p>
             </div>
        </div>
    </div>

<%- include('../partials/footer.ejs') -%>